{% extends 'base.html' %}
{% block content %}
<div class="centered-container" style="margin-top: 200px;">
    <form method="post" style="display: inline-block;">
        <div class="center-text"> 
            <h3 style="margin: 0 auto; text-align: center;">ユーザー登録が完了しました！</h3>
            <h4 style="margin: 30px; auto; text-align: center;">左上の「ログイン」ボタンより<br>お願いします</h4>
            {% comment %} <a href="{% url 'accounts:user_login' %}" class="button"></a> {% endcomment %}
        </div>
    </form>
</div>
{% endblock %}



{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="centered-container">
    <h2>商品登録</h2>
    <form method="post" enctype="multipart/form-data">
   
        {% csrf_token %}
        {{ form.as_p }}

        
        <button type="submit" class="button">登録</button>

       
    </form>
     
</div>
{% endblock %}  {% endcomment %}

 

















{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="centered-container">
    <h2>商品登録</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_name">商品名:</label>
        {{ form.name }}
        <br>
        <label for="id_image">画像:</label>
        {{ form.image }}
        <br>
        <label for="id_used_miso">使った味噌:</label>
        {{ form.used_miso }}
        <br>
        <label for="id_thoughts">メモ・感想:</label>
        {{ form.thoughts }}
        <br>
        <label for="id_taste_rating">味の評価:</label>
        {{ form.taste_rating }}
        <br>
        <label for="id_appearance_rating">見た目の評価:</label>
        {{ form.appearance_rating }}
        <br>
        <button type="submit" class="button">登録</button>
    </form>
</div>
{% endblock %} {% endcomment %}



{% comment %} <script>
document.addEventListener("DOMContentLoaded", function() {
    const fileInput = document.getElementById("id_image");
    const previewImage = document.getElementById("preview");

    fileInput.addEventListener("change", function(event) {
        const file = event.target.files[0]; // 選択されたファイルを取得
        if (file) {
            const reader = new FileReader(); // ファイルを読み込むためのFileReaderオブジェクトを作成
            reader.onload = function(e) {
                previewImage.src = e.target.result; // プレビュー用のimg要素のsrc属性に読み込んだファイルのデータURLをセット
                previewImage.style.display = "block"; // プレビュー用のimg要素を表示
            }
            reader.readAsDataURL(file); // ファイルを読み込む
        }
    });

    // ページ読み込み時にファイル選択ダイアログが開くようにする
    fileInput.click();
</script> {% endcomment %}




{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="centered-container">
    <h2>商品登録</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_name">商品名:</label>
        {{ form.name }}
        <br>
        <label for="id_image">画像:</label>
        {{ form.image }}
        <br>
        <label for="id_used_miso">使った味噌:</label>
        {{ form.used_miso }}
        <br>
        <label for="id_thoughts">メモ・感想:</label>
        {{ form.thoughts }}
        <br>
        <label for="id_taste_rating">味の評価:</label>
        {{ form.taste_rating }}
        <br>
        <label for="id_appearance_rating">見た目の評価:</label>
        {{ form.appearance_rating }}
        <br>
        <button type="submit" class="button">登録</button>
    </form>
</div>
{% endblock %}  {% endcomment %}


{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="centered-container">
    <h2>商品登録</h2>
    <form method="post" enctype="multipart/form-data">
   
        {% csrf_token %}
        {{ form.as_p }}

        
        <button type="submit" class="button">登録</button>

       
    </form>
     
</div>
{% endblock %}   {% endcomment %}





{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="centered-container">
    <h2>商品登録</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_name">商品名:</label> 
        {{ form.name }}
        <br>
        <label for="id_image">画像:</label>
        <label for="id_image" class="custom-file-upload">ファイルの選択</label>
        {% comment %} <input id="id_image" type="file" name="image" style="display:none;">   {% endcomment %}
        {% comment %} <input id="id_image" type="file" name="image" onchange="previewImage(event);" style="display: none;"> 
        <br> {% endcomment %}
        {% comment %} <img id="preview" src="#" alt="選択された画像" style="max-width: 100px; max-height: 100px; display: none;"> {% endcomment %}
        {% comment %} <div id="image-container">
        <img id="preview" src="#" alt="選択された画像" class="preview-image">
        </div>

        <br>
        <label for="id_used_miso">使った味噌:</label>
        {{ form.used_miso }}
        <br>
        <label for="id_thoughts">メモ・感想:</label>
        {{ form.thoughts }}
        <br>
        <label for="id_taste_rating">味の評価:</label>
        {{ form.taste_rating }}
        <br>
        <label for="id_appearance_rating">見た目の評価:</label>
        {{ form.appearance_rating }}
        <br>
        <button type="submit" class="button">登録</button>
    </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const fileInput = document.getElementById("id_image");
    const previewImage = document.getElementById("preview");

    // ファイル選択ボタンがクリックされたときにファイル選択ダイアログが開くようにする
    const customUploadButton = document.querySelector(".custom-file-upload");
    customUploadButton.addEventListener("click", function() {
        fileInput.click();
    });

    fileInput.addEventListener("change", function(event) {
        const file = event.target.files[0]; // 選択されたファイルを取得
        if (file) {
            const reader = new FileReader(); // ファイルを読み込むためのFileReaderオブジェクトを作成
            reader.onload = function(e) {
                previewImage.src = e.target.result; // プレビュー用のimg要素のsrc属性に読み込んだファイルのデータURLをセット
                previewImage.style.display = "block"; // プレビュー用のimg要素を表示
            }
            reader.readAsDataURL(file); // ファイルを読み込む
        }
    });
});


</script>
{% endblock %}  {% endcomment %} 





{% comment %} document.addEventListener("DOMContentLoaded", function() {
    const fileInput = document.getElementById("id_image");
    const previewImage = document.getElementById("preview");

    fileInput.addEventListener("change", function(event) {
        const file = event.target.files[0]; // 選択されたファイルを取得
        if (file) {
            const reader = new FileReader(); // ファイルを読み込むためのFileReaderオブジェクトを作成
            reader.onload = function(e) {
                previewImage.src = e.target.result; // プレビュー用のimg要素のsrc属性に読み込んだファイルのデータURLをセット
                previewImage.style.display = "block"; // プレビュー用のimg要素を表示
            }
            reader.readAsDataURL(file); // ファイルを読み込む
        }
    });

    // ページ読み込み時にファイル選択ダイアログが開くようにする
    fileInput.click();
}); {% endcomment %}




