 <!-- used_miso_list.html -->
{% extends 'base.html' %}
{% block content %}
<div class="centered-container">
    <h2>使った味噌一覧</h2>
    <table>
        <thead>
            <tr>
                <th class="item-name">商品名</th>
                <th class="item-name">画像</th>
                <th class="item-name">削除</th> 
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td><a href="{% url 'accounts:items_update' pk=item.pk %}" class="item-name">{{ item.name }}</a></td> <!-- 編集画面へのリンク -->
                <td>
                    {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" width="100" height="100">
                    {% endif %}
                </td>
                <td> 
                    <a href="{% url 'accounts:items_delete' pk=item.pk %}" class="button">削除</a> <!-- 削除リンク -->
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">使った味噌はありません。</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}










