<!-- used_miso_detail/templates/used_miso_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="mt-5">
    <h2>Used Miso Detailを表示</h2>
    <p>Item: {{ form.item }}</p>
    <p>Thoughts: {{ form.thoughts }}</p>
    <p>Taste Rating: {{ form.taste_rating }}</p>
    <p>Appearance Rating: {{ form.appearance_rating }}</p>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.items_form.name }} {# ItemsForm の name フィールドの表示 #}
      {{ form.items_form.image }} {# ItemsForm の image フィールドの表示 #}
      {% for field in form.items_form %}
        {# ItemsForm の各フィールドの表示 #}
        <p>{{ field.label_tag }} {{ field }}</p>
      {% endfor %}

      <button type="submit">Used Miso Detailを更新</button>
    </form>

    <br>
    <a href="{% url 'accounts:used_miso_list' %}">Used Miso Listに戻る</a>
  </div>
{% endblock %}



{% comment %} <!-- used_miso_detail/templates/used_miso_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="mt-5">
    <h2>Used Miso Detailを作成</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
       {{ form.used_miso_detail_form.as_p }}
      {{ form.items_form.name }} {# ItemsForm の name フィールドの表示 #}
      {{ form.items_form.image }} {# ItemsForm の image フィールドの表示 #}
      {% for field in form.items_form %}
        {# ItemsForm の各フィールドの表示 #}
        <p>{{ field.label_tag }} {{ field }}</p>
      {% endfor %}
      {% for field in form %}
       {# UsedMisoDetailForm の各フィールドの表示 #}
       {% if field.name != 'items_form' %}
          <p>{{ field.label_tag }} {{ field }}</p>
        {% endif %}
      {% endfor %}
      <button type="submit">Used Miso Detailを作成</button>
    </form>
    <br>
    <a href="{% url 'accounts:used_miso_list' %}">Used Miso Listに戻る</a>
  </div>
{% endblock %} {% endcomment %}
