/* Reset CSS/*/
/* body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
*/
/*body {
    font-family: Arial, sans-serif; /* デフォルトのフォントファミリーを指定 */
    /* line-height: 1.6; /* デフォルトの行の高さを指定 */
/* }
*/
/* ul {
    list-style: none; /* リストのデフォルトスタイルを無効化 */
/* }
 */